#corrida {
    background-color: #1C1C1C;
}

* {
    border: 0;
    padding: 0;
    margin: 0;
}

p {
    font-family: 'mortal';
}
html , body {
    overflow: hidden;
}

#options {
    display: grid;
    grid-template-columns: 2fr;
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px;
    height: 330px;
    width: 106px;
    background: rgb(189, 189, 189);
}

#options .action {
    border-radius: 30;
    border: 1px solid rgb(46, 46, 46);
    box-shadow: 3px 3px 4px rgb(95, 95, 95);
    color: white;
    padding: 5px;
    width: 60px;
    cursor: pointer;
}
#info {
    position: absolute;
    text-align: center;
    bottom: 0;
    right: 0;
    width: 150px;
    font-family: 'Arial';
    background: rgb(189, 189, 189);
    padding: 8px;
}



#start {
    background-color: rgb(45, 209, 45);
}

#start:disabled {
    background-color: rgb(45, 209, 45, 0.5);
}

#clear-rc {
    background-color: rgb(202, 202, 0);
}

#try-again {
    background-color: rgb(211, 3, 3);
}

#player .play-stop {
    border-radius: 100%;
}
@font-face {
    font-family: 'mortal';
    src: url('../fonts/mortal-kombat-4.woff') format('woff');
}

