#corrida {
    background-color: #313237;
}

* {
    border: 0;
    padding: 0;
    margin: 0;
}

p {
    font-family: 'mortal';
}
html , body {
    overflow: hidden;
}

@font-face {
    font-family: 'mortal';
    src: url('../fonts/mortal-kombat-4.woff') format('woff');
}

